
.image {
  max-width: 600px; /* Adjust as per your desired maximum width */
  max-height: 600px; /* Adjust as per your desired maximum height */
  width: auto;
  height: auto;
}
.image {
  max-width: 600px; /* Adjust as per your desired maximum width */
  max-height: 600px; /* Adjust as per your desired maximum height */
  width: auto;
  height: auto;
}

/*.image-container {
    position: relative;
    overflow: hidden;
    width: 200px;
    height:200px;
}

#image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;*/ /*Add a smooth transtion effect*/
/*}

.image-container:hover #iamge {
    transform: scale(1.2);*/ /*increase the scale to make it larger on hover*/
/*}*/
